<?xml version="1.0" encoding="utf-8"?>
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android">-->
<manifest>

    <application>
        <!--<activity android:name="com.example.andrew65appstask.presentation.view.BlankActivity" />-->
        <!--<activity android:name="com.example.andrew65appstask.BlankActivity" />-->
    </application>

</manifest>